@page
@model pv.Pages_UserVaultSecrets.CreateModel

@{
    ViewData["Title"] = "Create a new Secret";
}

<h1>Create a new Secret</h1>

<h4>Secret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Secret.Username" class="control-label"></label>
                <input asp-for="Secret.Username" class="form-control" />
                <span asp-validation-for="Secret.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secret.Password" class="control-label"></label>
                <input asp-for="Secret.Password" class="form-control" />
                <span asp-validation-for="Secret.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secret.URL" class="control-label"></label>
                <input asp-for="Secret.URL" class="form-control" />
                <span asp-validation-for="Secret.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Secret.Notes" class="control-label"></label>
                <input asp-for="Secret.Notes" class="form-control" />
                <span asp-validation-for="Secret.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Secrets" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
