@page
@model PasswordVault.WebUIServer.Pages_User_Access.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserVault</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserVault.UserId" class="control-label"></label>
                <select asp-for="UserVault.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserVault.VaultId" class="control-label"></label>
                <select asp-for="UserVault.VaultId" class ="form-control" asp-items="ViewBag.VaultId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserVault.Role" class="control-label"></label>
                <input asp-for="UserVault.Role" class="form-control" />
                <span asp-validation-for="UserVault.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserVault.VaultKey" class="control-label"></label>
                <input asp-for="UserVault.VaultKey" class="form-control" />
                <span asp-validation-for="UserVault.VaultKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
